@font-face {
	font-family: Luminari;
	src: url('Luminari-Regular.ttf');
}

body {
	height: 100%;
	width: 100%;
	background-color: grey;
	margin: 0px;
}

h1 {
	font-size: 4vh;
	font-family: Luminari;
}

h2 {
	margin-left: 15%;
	font-size: 1.25vh;
	font-family: Luminari;
	font-weight: 300;
}

h3 {
	font-size: 3vh;
	font-family: Luminari;
	font-weight: 200;
}

p {
	font-family: Luminari;
	font-size: 1.5vh;
	font-weight: 150;
}

img {
	float: left;
	margin-left: 2%;
}

#wrapper {
	height: 98vh;
	width: 99vw;
	margin: 0px;
}

#title {
	width: 100vw;
	height: 11vh;
	background-color: black;
	background: rgba(0, 0, 0, 0.7);
	margin-top: 1%;
	color: white;
}

#ttext {
	float: left;
	font-size: 2vh;
	margin-left: 5%;
}

#nav {
	float: left;
	width: 25vw;
	height: 60vh;
	position: absolute;
}

#tag1 {
	width: 25vw;
	height: 5vh;
	margin-bottom: 2%;
	margin-top: 20vh;
	background-color: black;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	float: left;
}

#tag2 {
	width: 25vw;
	height: 5vh;
	margin-bottom: 2%;
	background-color: black;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	float: left;
}

#tag1:hover {
	background: rgba(0, 0, 0, 1);
}

#tag2:hover {
	background: rgba(0, 0, 0, 1);
}

#main {
	float: right;
	margin-right: 20%;
	margin-top: 10vh;
	height: 70vh;
	width: 40vw;
	background-color: black;
	background: rgba(0, 0, 0, 0.6);	
	color: white;
	padding: 1%;
}