body {
	height: 100%;
	width: 100%;
	background-color: grey;
	margin: 0px;
}

h1 {
	font-size: 4vh;
}

h2 {
	margin-left: 20%;
	font-size: 2vh;
	padding-top: 2%;
}

p {

}

img {
	float: left;
	margin-left: 2%;
}

#wrapper {
	height: 98vh;
	width: 99vw;
	margin: 0px;
}

#title {
	width: 99vw;
	height: 11vh;
	background-color: black;
	background: rgba(0, 0, 0, 0.7);
	margin-top: 1%;
	color: white;
}

#ttext {
	float: left;
	font-size: 2vh;
	margin-left: 5%;
}

#nav {
	float: left;
	width: 20vw;
	height: 60vh;
}

#tag1 {
	width: 20vw;
	height: 5vh;
	margin-bottom: 2%;
	margin-top: 25vh;
	background-color: black;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	text-decoration: none;
}

#tag2 {
	width: 20vw;
	height: 5vh;
	margin-bottom: 2%;
	background-color: black;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	text-decoration: none;
}

#tag1:hover {
	background: rgba(0, 0, 0, 1);
}

#tag2:hover {
	background: rgba(0, 0, 0, 1);
}

#main {
	float: right;
	margin-right: 20%;
	margin-top: 10vh;
	height: 70vh;
	width: 40vw;
	background-color: black;
	background: rgba(0, 0, 0, 0.6);	
}