{% extends "base.html"%}

{% block title %}
	
	<h1>About</h1>
	
{% endblock %}


{% block content %}
<div id="sbody">
	<p>I am an aspiring developer , trying to learn new things in the land of code .</p>
	<p>This website is one of my projects , and the others are showcased here .</p>
	<p>I follow a small community known as TeamSkorpz , check out the GitHub page at <a href="https://teamskorpz.github.io/" target="__blank">teamskorpz.github.io</a> .</p>
	<p>I also aspire to be able to create games in the likes of Unity . I have previously created small games in the past , although that knowledge is currently lost to me .<p>
	<p>I plan to test and challenge myself to progress , and create some pieces of work I can be proud of .</p>
</div>

{% endblock %}