{% extends "base.html"%}

{% block title %}
	
	<h1>My Projects</h1>
	
{% endblock %}


{% block content %}
<div id="sbody">
	<h2>Jungle Is Massive</h2>
	<h3>A Text-Based Adventure Game</h3>
	<p>This is a simple text based game where you venture through the jungle to unravel its mysteries .</p>
	<p>Created as a simple test of basic abilities when re-introducing myself to programming , a place to start and get myself comfortable before going on to learn new things .</p>
	<p>The story ventures into two different sides of the jungle , where you encounter different types of foes on either side . You can find items on different paths that can assist you , and they will be vital to reaching the end .</p>
	<p>*I plan to try to embed the game here , but I don 't know when*</p>

	
	<h2>All Launch</h2>
	<h3>An All-Purpose Launcher for any Exe</h3>
</div>
	
{% endblock %}